html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}
#root {
  min-height: 100vh;
  width: 100%;
  background-color: black;
}
.Title{
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
}
.SignupLogin{
  margin-top: 7%;
}
.splashscreen {
  background-image: url("https://www.shutterstock.com/shutterstock/videos/2585582/thumb/1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0; 
  .Title{
    font-size: 5rem;
  }
}